<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelContainer -->
      <package
            uri="http://modelcontainer/1.0"
            class="ModelContainer.ModelContainerPackage"
            genModel="model/ModelContainer.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dsemerge.modelcontainer -->
      <package
            uri="http://dsemerge.modelcontainer/1.0"
            class="DseMergeModelContainer.DseMergeModelContainerPackage"
            genModel="model/dsemerge.modelcontainer.genmodel"/>
   </extension>

</plugin>
