<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="patterns.create"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.CreateQuerySpecification$Provider"
            id="patterns.create">
      </matcher>
   </extension>
   <extension
         id="patterns.delete"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.DeleteQuerySpecification$Provider"
            id="patterns.delete">
      </matcher>
   </extension>
   <extension
         id="patterns.setAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.SetAttributeQuerySpecification$Provider"
            id="patterns.setAttribute">
      </matcher>
   </extension>
   <extension
         id="patterns.setReference"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.SetReferenceQuerySpecification$Provider"
            id="patterns.setReference">
      </matcher>
   </extension>
   <extension
         id="patterns.resetAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.ResetAttributeQuerySpecification$Provider"
            id="patterns.resetAttribute">
      </matcher>
   </extension>
   <extension
         id="patterns.resetReference"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.ResetReferenceQuerySpecification$Provider"
            id="patterns.resetReference">
      </matcher>
   </extension>
   <extension
         id="patterns.addToList"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.AddToListQuerySpecification$Provider"
            id="patterns.addToList">
      </matcher>
   </extension>
   <extension
         id="patterns.removeFromList"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="patterns.util.RemoveFromListQuerySpecification$Provider"
            id="patterns.removeFromList">
      </matcher>
   </extension>

</plugin>
