<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="interpreter" name="Editor Input Interpreter" schema="schema/interpreter.exsd"/>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.viatra.dse.merge.ui.creators.DSEStructureMergeViewerCreator"
            extensions="NODE_TYPE__EMF_EOBJECT,NODE_TYPE__EMF_RESOURCE,NODE_TYPE__EMF_RESOURCESET,NODE_TYPE__EMF_COMPARISON,wtspec4m"
            id="org.eclipse.viatra.dse.merge.ui.structureMergeViewer"
            label="DSE Structure Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentTypeId="es.ikerlan.wt.emf.model.wtspec4m"
            structureMergeViewerId="org.eclipse.viatra.dse.merge.ui.structureMergeViewer">
      </contentTypeBinding>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.ecore.xmi"
            structureMergeViewerId="org.eclipse.viatra.dse.merge.ui.structureMergeViewer">
      </contentTypeBinding>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.compare.content.type"
            structureMergeViewerId="org.eclipse.viatra.dse.merge.ui.structureMergeViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.viatra.dse.merge.ui.creators.DSEContentMergeViewerCreator"
            extensions="NODE_TYPE__EMF_EOBJECT,NODE_TYPE__EMF_RESOURCE,NODE_TYPE__EMF_RESOURCESET,NODE_TYPE__EMF_COMPARISON,wtspec4m"
            id="org.eclipse.viatra.dse.merge.ui.contentMergeViewer"
            label="DSE Content Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.viatra.dse.merge.ui.contentMergeViewer"
            contentTypeId="es.ikerlan.wt.emf.model.wtspec4m">
      </contentTypeBinding>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.viatra.dse.merge.ui.contentMergeViewer"
            contentTypeId="org.eclipse.emf.ecore.xmi">
      </contentTypeBinding>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.viatra.dse.merge.ui.contentMergeViewer"
            contentTypeId="org.eclipse.emf.compare.content.type">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.viatra.dse.merge.ui.context"
            name="DSE Merge Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
