<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VersionContainer -->
      <package
            uri="http://versioncontainer/1.0"
            class="versioncontainer.VersioncontainerPackage"
            genModel="model/VersionContainer.genmodel"/>
   </extension>

</plugin>
