<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WTSpec2.0id -->
      <package
            uri="http://WTSpec/2.01"
            class="WTSpecID.WTSpecIDPackage"
            genModel="model/WTSpec2.0id.genmodel"/>
   </extension>

</plugin>
