/.ExecutableDeleteChangeMatch.java._trace
/.ExecutableDeleteChangeMatcher.java._trace
/.Query.java._trace
/ExecutableDeleteChangeMatch.java
/ExecutableDeleteChangeMatcher.java
/Query.java
/.TestMatch.java._trace
/.TestMatcher.java._trace
