/.ExecutableDeleteChangeProcessor.java._trace
/.ExecutableDeleteChangeQuerySpecification.java._trace
/ExecutableDeleteChangeProcessor.java
/ExecutableDeleteChangeQuerySpecification.java
/.TestProcessor.java._trace
/.TestQuerySpecification.java._trace
