<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diffmodel -->
      <package
            uri="http://diffmodel/1.0"
            class="DiffModel.DiffModelPackage"
            genModel="model/diffmodel.genmodel"/>
   </extension>

</plugin>
