/.AllIdentifiableMatch.java._trace
/.AllIdentifiableMatcher.java._trace
/.OperationsMatch.java._trace
/.OperationsMatcher.java._trace
/.AddToListMatch.java._trace
/.AddToListMatcher.java._trace
/.CountOperationsMatch.java._trace
/.CountOperationsMatcher.java._trace
/.CreateMatch.java._trace
/.CreateMatcher.java._trace
/.DeleteMatch.java._trace
/.DeleteMatcher.java._trace
/.Patterns.java._trace
/.RemoveFromListMatch.java._trace
/.RemoveFromListMatcher.java._trace
/.ResetAttributeMatch.java._trace
/.ResetAttributeMatcher.java._trace
/.ResetReferenceMatch.java._trace
/.ResetReferenceMatcher.java._trace
/.SetAttributeMatch.java._trace
/.SetAttributeMatcher.java._trace
/.SetReferenceMatch.java._trace
/.SetReferenceMatcher.java._trace
/.HelperPatterns.java._trace
/.CreateInsteadOfDeleteMatch.java._trace
/.CreateInsteadOfDeleteMatcher.java._trace
/.SetRefInsteadOfDeleteMatch.java._trace
/.SetRefInsteadOfDeleteMatcher.java._trace
/.SetReferenceInsteadOfDeleteMatch.java._trace
/.SetReferenceInsteadOfDeleteMatcher.java._trace
/.SetReferenceInsteadOfDelete2Match.java._trace
/.SetReferenceInsteadOfDelete2Matcher.java._trace
/.Asd.java._trace
