/.ArtifactBuilder.java._trace
/.ArtifactBuilder.xtendbin
/.Builder.java._trace
/.Builder.xtendbin
/.FileBuilder.java._trace
/.Generator.java._trace
/.ProjectBuilder.java._trace
/.ProjectBuilder.xtendbin
/ArtifactBuilder.java
/Builder.java
/ProjectBuilder.java
